In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\luigi\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\luigi\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\luigi\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\luigi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\luigi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\luigi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\luigi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\luigi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\luigi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\luigi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\luigi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\luigi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\luigi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\luigi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\luigi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\luigi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\luigi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\luigi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\luigi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install splinter

Requirement already satisfied: splinter in c:\users\luigi\anaconda3\lib\site-packages (0.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install webdriver_manager

Collecting webdriver_manager
  Downloading webdriver_manager-3.5.4-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in c:\users\luigi\anaconda3\lib\site-packages (from webdriver_manager) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\luigi\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\luigi\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\luigi\anaconda3\lib\site-packages (from requests->webdriver_manager) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\luigi\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.7)
Installing collected packages: webdriver-manager
Successfully installed webdriver-manager-3.5.4
Note: you may need to restart the kernel to use updated packages.

In [5]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [6]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
There is no [win32] chromedriver for browser 101.0.4951 in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/101.0.4951.41/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\luigi\.wdm\drivers\chromedriver\win32\101.0.4951.41]

## NASA MARS NEWS

In [13]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)

#Set an HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [14]:
# Retrieve the latest element that contains news title and news_paragraph
news_title = soup.find_all('div', class_='content_title')[1].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

In [15]:
print(news_title)
print(news_p)

Science at Sunrise: Solving the Mystery of Frost Hiding on Mars
A new study using data from NASA’s Mars Odyssey orbiter may explain why Martian frost can be invisible to the naked eye and why dust avalanches appear on some slopes.

## JPL Mars Space Images - Featured Image

In [18]:
space_url = 'https://spaceimages-mars.com/'
browser.visit(space_url)
browser.links.find_by_partial_text('FULL IMAGE').click()
#Set an HTML object
html_space = browser.html

# Parse HTML with Beautiful Soup
soup2 = bs(html_space, 'html.parser')

In [19]:
image_url = soup2.find('img',attrs={'class':'fancybox-image'})['src']

In [20]:
#Website URL
web_main_url = 'https://spaceimages-mars.com/'

In [21]:
featured_image_url = web_main_url + image_url

In [22]:
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

## Mars Facts

In [23]:
url_facts = 'https://galaxyfacts-mars.com/'

In [24]:
tables = pd.read_html(url_facts)
mars_fact_df = tables[0]
mars_fact_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [26]:
mars_fact_df.columns = ['parameters','plannet mars', 'plannet earth']
mars_fact_df

                parameters     plannet mars    plannet earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [27]:
mars_fact_df.set_index('parameters', inplace=True)
mars_fact_df

                            plannet mars    plannet earth
parameters
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [28]:
#mars_fact_df.to_html()
with open('mars_facts_df.html', 'w') as fo:
    mars_fact_df.to_html(fo)

## Mars Hemispheres

In [29]:
url_hemi = 'https://marshemispheres.com/'
browser.visit(url_hemi)

# Set an HTML object
html_hemi = browser.html

# Parse HTML with Beautiful Soup
soup_hemi = bs(html_hemi, 'html.parser')

In [30]:
# Retrieve items that contain mars hemi info
item = soup_hemi.find_all('div', class_='item')

# Create an empty list to hold it
hemi_list = []

# Main url
hemi_main_url = 'https://marshemispheres.com/'

In [31]:
# Create for loop 
for i in item:
    
    title = i.find('h3').text
    
    partial_img = i.find('a', class_='itemLink product-item')['href']
    
    browser.visit(hemi_main_url + partial_img)
    
    partial_html = browser.html
    
    soup_par = bs(partial_html, 'html.parser')
    
    image_url = hemi_main_url + soup_par.find('img', class_='wide-image')['src']
    
    hemi_list.append({"title": title, "img_url": image_url})

In [32]:
hemi_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]